
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Hoc bong</title>
    <link rel="stylesheet" href="~/Content/bootstrap-4.0.0-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/Content/style.css" />
</head>
<body>
    <header>hearder</header>
    <div class="container ">
        <div class="nav navbar tool-bar  well bg-primary" style="margin:0px;">
            <button class="btn-primary btn" >new</button>
            <button class="btn-primary btn">edit</button>
            <button class="btn-primary btn">delete</button>
            <button class="btn-primary btn">info</button>
        </div>
        <div>
            <table class="table table-bordered text-center ">
                <thead>
                    <tr>
                        <th class="text-center">STT</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Male</th>
                        <th class="text-center">Born</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Number Phone</th>
                        <th class="text-center">Create Date</th>
                        <th class="text-center">Year</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Duong van luong</td>
                        <td>nam</td>
                        <td>05/01/1999</td>
                        <td>duongvanluong519@gmail.com</td>
                        <td>0329821241</td>
                        <td>14/7/2020</td>
                        <td>2020</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div id="background-create" class="col-lg-12 col-sm-12"  ></div>
    <div id="layout-create" class="col-lg-12 col-sm-12">
        <div id="form-create" class="mx-auto"  >
            <header class=" bg-primary d-flex justify-content-between align-middle "style="padding-left:20px;font-size:20px;border-top-right-radius:10px;border-top-left-radius:10px;">
                <label class=" text-white" >Tao moi hoc bong</label>
                <button class=" btn right btn-danger"style="position:relative;right:0px;"  >X</button>
            </header>
            <div class="">agagsd</div>
        </div>
    </div>
</body>
</html>

